/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.background{
	-fx-background-color: #F7F7F7;
	-fs-background-radius: 0px;
}
.table-view{
	-fx-background-color: transparent;
}
.table-view:focused{
	-fx-background-color: transparent;
}
.table-view .column-header-background{
	-fx-background-color: linear-gradient(#33698F 0%, #424141 100%);
}
.table-view .column-header-background .label{
	-fx-background-color: transparent;
	-fx-text-fill: white;
}
.table-view .column-header{
	-fx-background-color: transparent;
}
.table-view .table-cell{
	-fx-text-fill: white;
}
.table-row-cell{
	-fx-background-color: -fx-table-cell-border-color, #6a6e71;
	-fx-background-insets: 0, 0.0 0 1 0;
	-fx-padding:0.0em; /*0 */
}
.table-row-cell:odd{
	-fx-background-color: -fx-table-cell-border-color, #6a6e71;
	-fx-background-insets: 0, 0.0 0 1 0;
	-fx-padding:0.0em; /*0 */
}
.buttons{
	-fx-background-color: #0C0C0C;
	-fx-background-radius: 5px;
	-fx-text-fill: #FFFFFF;
}
.btn{
	-fx-background-color: #33698F;
	-fx-background-radius: 5px;
	-fx-text-fill: #FFFFFF;
}
